
h1 {
  font-family: Asap;
  font-size: 1.25em;
  font-weight: 400;
}

h2 {
  font-family: Rubik;
  font-size: .75em;
  font-weight: 700;
  color: #F94E4E;
}

h3 {
  font-family: Rubik;
  font-size: .75em;
  font-weight: 700;
  color: black;
}

p {
  font-family: Rubik;
  font-size: .75em;
  font-weight: 400;
  color: black;
}

li p {
	font-size: 1em;
}

.current-page {
  background-color: transparent;
}

.item {
	display: inline-block;
    background-color: #f7f7f9;
    width: 100%;
    height: 100%;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.photo {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 2em;
	position: relative;
}

@media (min-width:; 1400px) {
	.photo {
		padding-left: 2em;
	}
	.description {
		border: none;
	}
}

.photo img+img {
	padding-top: 3em;
}

.photo img {
	max-width: 100%;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.process-block-left {
	padding-top: 3em;
	padding-bottom: 3em;
	width: 50%;
	float: left;
	box-shadow: ;
}

.process-block-right {
	padding-top: 3em;
	padding-bottom: 3em;
	width: 50%;
	float: right;
}

@media (max-width: 576px) {
	.process-block-left {
		width: 100%;
		float: left;
	}
	.process-block-right {
		width: 100%;
		float: left;
	}
}
/*
.process-block-outline {
	border: solid .15em #F05050;
	transform: translateX(13px) translateY(13px);
}

.process-block-outline h1 {
	transform: translateX(-10px) translateY(-10px);
}

.process-block-outline p {
	transform: translateX(-10px) translateY(-10px);
}*/

.caption {
	margin-top: 1em;
	padding-top: .5em;
	padding-bottom: 3em;
	width: 100%;
	font-size: .8em;
	position: relative;
}

.caption:after {
	color: #F05050;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 1px;
	width: 10%;
	border-top: solid;
	border-width: .2em;
}

.descript-box {
	width: 20em;
	height: 30em;
}

.description {
	margin-top: 1.5em;
	margin-bottom: 2.5em;
	margin-left: 1em;
	height: 80%;
	width: 28%;
	background-color: #F8F9F9;
	padding-top: 1.5em;
	padding-left: 2.25em;
	padding-right: 2.25em;
	padding-bottom: 2.25em;
	position: fixed;
	border-right: solid .15em #F05050;
	border-bottom: solid .15em #F05050;
}

/*.outline {
	margin-top: 1.5em;
	margin-bottom: 2.5em;
	margin-left: 1em;
	height: 80%;
	width: 28%;
	position: fixed;
	border: solid .15em #F05050;
	transform: translateX(13px) translateY(13px);
}*/

@media (max-width: 960px) {
  .descript-box {
  	width: 100%;
  	height: 100%;
  	margin: auto;
  }
  .description {
    position: relative;
    width: 80%;
    height: 30%;
    margin: 1.5em auto;
    border: none;
  }
  .outline {
    position: absolute;
    width: 80%;
    height: 89%;
    margin: 1.5em 10%;
  }
}

@media (max-width: 576px) {
	.outline {
		height: 100%;
	}
}


.deets {
	list-style: none;
	font-family: Rubik;
	font-size: .85em;
    font-weight: 700;
    color: #F05050;
    padding-top: .75em;
    padding-left: 0;
    margin-bottom: 1em;
    display: flex;
    border-bottom: solid .1em gray;
}

.deets li {
	display: inline;
}

.deet-item {
	width: 100%;
}

.deet-item+.deet-item {
	margin-left: 1em;
}

 .arrow-link-prev {
  	color: #696767;
  	float: left;
 }

 .arrow-link-next {
 	color: #696767;
 	float: right;
 }

 .description .btn {
 	padding: 0;
 }

.right {
	float: right;
}


button {
	background-color: transparent;
}

.prev-place{
	margin-top: 16em;
	width: 2.5em;
	padding-right: 3em;
}

.previous {
	position: fixed;
	color: #696767;
}

.next-place{
	margin-top: 16em;
	width: 2.5em;
	padding-right: 3em;
	float: right;
}

.next {
	position: fixed;
}

.arrow-link {
	color: #696767;
}

.arrow-link:hover {
	color: #696767;
}

@media (max-width: 960px) {
	.previous {
	  position: relative;
	  margin-top: 0;
	}
	.next {
	  position: relative;
	}
}











