$background: #F8F9F9;
$pink: #F94E4E;
$text: #292929;

h1 {
  font-family: Asap;
  font-size: 1em;
  font-weight: 400;
  color: $text;
}

h3 {
  font-family: Rubik;
  font-size: .75em;
  font-weight: 700;
  color: $text;
  margin-top: 6em;
}

li h3 {
	color: $pink;
  margin-top: 1em;
}

p {
  font-family: Rubik;
  font-size: .75em;
  font-weight: 400;
  color: $text;
}

.process p {
  margin-bottom: 5em;
}

.item {
	display: inline-block;
  background-color: $background;
  width: 100%;
  height: 100%;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.process {
  width: 80%;
  margin: 0 10% 7em 10%;
  @media (min-width: 992px) {
    width: 58.33333%;
    margin: 0 0 7em 0;
  }
  @media (min-width: 1400px) {
  	padding-left: 2em;
  }
}

.process img+img {
	margin-top: 2em;
}

.process img {
	max-width: 100%;
  margin-top: 1em;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.half-img-right {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  @media (min-width: 992px) {
    width: 50%;
    float: right;
    margin: 0;
  }
}

.img-three-quarter-left {
  width: 100%;
  @media (min-width: 992px) {
    width: 70%;
    float: left;
    margin: 0;
  }
}

.process-block-left {
  @media (min-width: 992px) {
    padding-right: 1em;
    width: 50%;
    float: left;
  }
}

.process-block-right {
  @media (min-width: 992px) {
    padding-left: 1em;
    width: 50%;
    float: right;
  }
}

.process-three-quarter-right .caption {
  @media (min-width: 992px) {
    padding-left: 1em;
    width: 30%;
    float: right;
  }
}

.process-three-quarter-right .caption::after {
  @media (min-width: 992px) {
    margin-left: 30px;
  }
}

@media (max-width: 576px) {
	.process-block-left {
		width: 100%;
		float: left;
	}
	.process-block-right {
		width: 100%;
		float: left;
	}
}

.caption {
	margin-top: 2em;
  margin-bottom: 4em;
	padding-top: .75em;
	width: 100%;
	font-size: .8em;
	position: relative;
}

.caption:after {
	color: $pink;
	content: "";
	position: absolute;
	top: 0;
	height: 1px;
	width: 15%;
	border-top: solid;
	border-width: .2em;
}

.descript-box {
  width: 100%;
  height: 100%;
  margin: auto;
  @media (min-width: 992px) {
    width: 20em;
    height: 30em;
  }
}

.description {
  background-color: $background;
  position: relative;
  width: 80%;
  margin: 1.5em auto;
  @media (min-width: 1400px) {
  	border: none;
  }
  @media (min-width: 992px) {
    height: inherit;
  	width: 28%;
  	margin-bottom: 2.5em;
  	margin-left: 3em;
    padding-left: 2em;
  	padding-right: 2.25em;
  	padding-bottom: 2.25em;
  	position: fixed;
    border-right: solid .12em $pink;
    border-bottom: solid .12em $pink;
  }
}


.outline {
  @media (max-width: 576px) {
  	height: 100%;
  }
  @media (min-width: 992px) {
    position: absolute;
    width: 80%;
    height: 89%;
    margin: 3.5em 10%;
  }
}


.deets {
	list-style: none;
  color: $pink;
  padding-left: 0;
  margin-bottom: .75em;
  display: flex;
  }

.deets li {
	display: inline;
}

.deet-item {
	width: 100%;
}

.deet-item+.deet-item {
	margin-left: 1em;
}

 .arrow-link-prev {
  	color: #696767;
  	float: left;
 }

 .arrow-link-next {
 	color: #696767;
 	float: right;
 }


 .description .btn {
 	padding: 0;
 }

.right {
	float: right;
}


button {
	background-color: transparent;
}

.prev-place{
	margin-top: 16em;
	width: 2.5em;
	padding-right: 3em;
}

.previous {
	position: fixed;
	color: #696767;
  @media (max-width: 960px) {
  	 position: relative;
  	 margin-top: 0;
  }
}

.next-place{
	margin-top: 16em;
	width: 2.5em;
	padding-right: 3em;
	float: right;
}

.next {
	position: fixed;
  @media (max-width: 960px) {
  	 position: relative;
  }
}

.arrow-link {
	color: #696767;
}

.arrow-link:hover {
	color: white;
}

.arrow {
  color: #696767;
}

.arrow:hover {
  color: $pink;
}
