/* Variables */
$pink: #F05050;
$charcoal: #2F2D2D;
$mono: 'Roboto Mono', monotype;
$rubik: 'Rubik', sans-serif;
$background: #F9F9F9;


/* Text */

h1 {
  font-family: $rubik;
  font-size: 20px;
  color: $charcoal;
}

.label-name {
  font-family: $mono;
  font-size: 12px;
  color: $pink;
}

.label-fill {
  font-family: $mono;
  font-size: 14px;
  color: $charcoal;
}

.callout-text {
  font-family: $rubik;
  font-size: 55px;
  color: $charcoal;
}

p {
  font-family: $rubik;
  font-size: 14px;
  color: $charcoal;
}

.nav-item a {
  color: $charcoal;
}

.nav-text:hover {
  text-decoration: none;
  color: $pink;
}

/*Etc*/

body {
  background-color: #F9F9F9;
  width: 100%;
  margin: 0;
}

// Nav

nav {
  width: 100%;
  padding: 1.5em 0;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}

.nav-text {
  font-family: $mono;
  font-size: .75em;
  color: $pink;
}

.nav-text a {
  text-decoration: none;
}

.nav-title {
  color: $pink;
  margin: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1em 0;
}

.nav-item {
  padding: 0 .75em;
}

@media (min-width: 768px) {
  nav {
    padding: 1em 6.5em;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .nav-title {
    margin: 1em ;
  }
  .navbar-nav {
    margin: 1em;
    padding: 0;
  }
}

//Container

.container {
  padding: 0;
}

.banner {
  padding-top: 92px;
  // background-image: url('julianatennett.github.io/img/zealery-banner.png')
  display: flex;
}

.label {
  padding: 1.5em 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
}

.label-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.label-line {
  display: flex;
  flex-direction: row;
}

.project-title {
  padding: 0 3em;
}

.label-item {
  padding: 1em 3em;
}
